* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    min-height: 0px;
    border: none;
}

window#waybar {
    color: #DCD7BA;
    background: #16161D;
}

/* === LEFT === */

#custom-distro-icon {
    background: transparent;
    padding: 0px 14px 0px 12px;
    margin: 0px;
    color: #957FB8;
    font-size: 18px;
}

#custom-distro-icon:hover {
    color: #C8C093;
}

#workspaces {
    background: transparent;
    padding: 0px 12px;
    margin: 0px;
}

#workspaces button {
    background: transparent;
    color: #54546D;
    font-size: 18px;
    padding: 0px 6px;
    margin: 0px;
}

#workspaces button:hover {
    color: #727169;
}

#workspaces button.active {
    color: #DCA561;
}

#workspaces button.urgent {
    color: #C34043;
}

#window {
    background: transparent;
    color: #938AA9;
    font-size: 14px;
    padding: 0px 14px;
    margin: 0px 4px;
    border-left: 1px solid #363646;
}

/* === CENTER === */

#clock {
    background: transparent;
    font-size: 14px;
    padding: 0px 20px;
    margin: 0px;
    color: #7E9CD8;
    letter-spacing: 2px;
}

#clock:hover {
    color: #A3D4D5;
}

/* === RIGHT === */

#tray,
#custom-swaync,
#pulseaudio,
#bluetooth,
#network,
#backlight,
#battery,
#custom-power,
#custom-powerprofile,
#idle_inhibitor,
#custom-volume,
#custom-reading-mode {
    background: transparent;
    padding: 0px 10px;
    margin: 0px;
    color: #727169;
    font-size: 14px;
}

#group-audio-net,
#group-power-batt {
    background: transparent;
    padding: 0px 4px;
    margin: 0px 8px;
}

#tray {
    padding: 0px 12px;
    margin: 0px 4px;
}

/* === SEPARATORS === */

#group-audio-net {
    border-left: 1px solid #2A2A37;
}

#group-power-batt {
    border-left: 1px solid #2A2A37;
}

/* === MODULE STATES === */

#custom-swaync {
    color: #727169;
}

#pulseaudio {
    color: #727169;
}

#pulseaudio.muted {
    color: #54546D;
}

#backlight {
    color: #727169;
}

#bluetooth {
    color: #727169;
}

#bluetooth.off {
    color: #54546D;
}

#network {
    color: #727169;
}

#network.disconnected {
    color: #54546D;
}

#custom-reading-mode {
    color: #727169;
}

#idle_inhibitor {
    color: #727169;
}

#custom-powerprofile {
    color: #727169;
}

#battery {
    color: #727169;
}

#battery.warning {
    color: #DCA561;
}

#battery.critical {
    color: #C34043;
}

#battery.charging {
    color: #98BB6C;
}

#custom-power {
    color: #727169;
    padding: 0px 12px 0px 8px;
}

/* === HOVER === */

#custom-swaync:hover,
#pulseaudio:hover,
#bluetooth:hover,
#backlight:hover,
#idle_inhibitor:hover,
#network:hover,
#battery:hover,
#custom-reading-mode:hover,
#custom-volume:hover,
#custom-powerprofile:hover {
    color: #C8C093;
}

#custom-power:hover {
    color: #C34043;
}

/* === TOOLTIP === */

tooltip {
    background: #1F1F28;
    border: 1px solid #2A2A37;
    color: #C8C093;
    padding: 8px 12px;
    font-size: 14px;
}

tooltip label,
tooltip * {
    color: #C8C093;
}
