* {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 14px;
}

window {
  background-color: #1F1F28;
}

entry {
  background-color: #2A2A37;
  color: #DCD7BA;
}

listview {
  background-color: transparent;
}

row {
  padding: 6px;
}

row:selected {
  background-color: #363646;
}

image {
  margin-right: 8px;
}
